.cards {
  padding: 51px 0 67px;
}

.card__list {
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(auto-fit, 282px);
  gap: 20px 17px;
  padding: 0;
  margin: 0;
}

.card {
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  overflow: hidden; /* Ensures child elements respect the border radius */
  background-color: #f0f0f0; /* Adds a visible background */
}

.card__image {
  width: 282px;
  height: 282px;
  object-fit: cover;
}

.card__description {
  display: flex;
  background-color: #fff;
  color: #000;
  padding: 25px 20px;
  align-items: center;
  justify-content: space-between;
}

.card__title {
  margin: 0;
  font-size: 24px;
  font-weight: 900;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  max-width: 220px;
}

.card__like-button {
  background: transparent url(../images/heart.svg) center no-repeat;
  width: 21px;
  height: 18px;
  border: none;
  padding: 0;
}

.card__like-button:hover {
  opacity: 50%;
  cursor: pointer;
}

@media screen and (max-width: 320px) {
  .cards {
    padding: 36px 0 48px;
  }
}
