.modal {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1000;
  display: flex;
  color: #000;
  padding: 0 19px;
  /* justify-content: center;
  align-items: center; */
  display: none;
}

.modal__opened {
  display: flex;
}

.modal__container {
  position: relative;
  background-color: #fff;
  max-width: 358px;
  width: 100%;
  margin: auto;
  padding: 36px;
  border-radius: 10px;
}

.modal__close {
  border: none;
  background-color: transparent;
  position: absolute;
  width: 40px;
  height: 40px;
  bottom: calc(100% + 5px);
  left: calc(100% + 5px);
  background-image: url(../images/close.svg);
  background-size: contain;
  background-repeat: no-repeat;
}

.modal__close:hover {
  cursor: pointer;
}

.modal__heading {
  font-size: 24px;
  font-weight: 900;
  margin: 0 0 54px;
}

.modal__form {
  display: flex;
  flex-direction: column;
  gap: 30px;
  max-width: 358px;
  width: 100%;
}

.modal__input {
  border: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  padding: 2px;
  min-height: 27px;
  font-size: 14px;
  font-weight: 400;
}

.modal__input:last-of-type {
  margin-bottom: 18px;
}

.modal__button {
  background-color: #000;
  color: #fff;
  border: none;
  padding: 0;
  border-radius: 2px;
  min-height: 50px;
  font-size: 18px;
  font-weight: 400;
}

.modal__button:hover {
  cursor: pointer;
}

@media screen and (max-width: 636px) {
  .modal__container {
    padding: 25px 22px;
    max-width: 238px;
  }

  .modal__close {
    width: 26px;
    height: 26px;
    bottom: calc(100% + 13px);
    left: calc(100% - 30px);
  }

  .modal__heading {
    font-size: 18px;
    margin: 0 0 75px;
  }

  .modal__form {
    gap: 30px;
    max-width: 238px;
    width: 100%;
  }

  .modal__input:last-of-type {
    margin-bottom: 15px;
  }

  .modal__button {
    min-height: 46px;
    font-size: 14px;
  }
}
